.certificate {
  &__wrapper {
    display: grid;

    @include media("max", "lg") {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
  }

  .section__subtitle {
    // margin-bottom: 60px;
    @include media("max", "lg") {
      // margin-bottom: 30px;
    }
  }

  &__list {
    order: 2;
  }



  &__img-wrap {
    order: 1;

    border-radius: 4px;

    @include media("max", "lg") {
      height: 232px;

      text-align: center;
    }

    grid-row: span 2;
  }

  &__img {
    width: 100%;
    padding: 20px 16px;

    background-color: #ffffff;
    border-radius: 4px;
    object-fit: contain;

    @include media("max", "lg") {
      width: auto;
      height: 100%;
      padding: 10px 8px;
    }
  }

  &__item {
    position: relative;

    padding-left: 50px;

    font-size: 24px;
    line-height: 160%;

    @include media("max", "md") {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include media("max", "md") {
        margin-bottom: 20px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 30px;
      height: 30px;

      background-image: url(../images/ico/ico-check-certificate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
}
