$color-primary: #000000;
$color-grey: #7b7771;
$color-red: #e30713;

// bg
$bg-body: #f7f6f2;
$bg-body-dark: #f6eee3;
$bg-modals-overlay: rgba(255, 255, 255, 0.3);

// fonts
$inter: "Inter", "Montserrat", "Times New Roman", sans-serif;
$raleway: "Raleway", "Montserrat", "Times New Roman", sans-serif;

// modal
$color-gray: #a0a0a0;
$bg-dark: #050505;
$bg-gray: #1c1a1a;

:root {
  --base-scale: calc(100vw / 75);

	// font-size:
  --font-size-prof-desc: max(40px, min(100px, calc(var(--base-scale) * 4)));
	--font-size-subtitle: max(24px, min(60px, calc(var(--base-scale) * 4)));
	--font-size-whoIsDesigner__text: max(20px, min(24px, calc(var(--base-scale) * 4)));
	--font-size-numbers__digit: max(40px, min(100px, calc(var(--base-scale) * 4)));
	--font-size-numbers__desc: max(16px, min(24px, calc(var(--base-scale) * 4)));
	--font-size-help__text: max(20px, min(24px, calc(var(--base-scale) * 4)));
	--font-size-forWhom__title: max(24px, min(32px, calc(var(--base-scale) * 4)));
	--font-size-forWhom__desc: max(16px, min(20px, calc(var(--base-scale) * 4)));
	--font-size-trainingProgram__num: max(26px, min(60px, calc(var(--base-scale) * 4)));
	--font-size-trainingProgram__title: max(24px, min(32px, calc(var(--base-scale) * 4)));
	--font-size-trainingProgram__desc: max(14px, min(18px, calc(var(--base-scale) * 4)));
	--font-size-trainingProgram__list-tech: max(20px, min(24px, calc(var(--base-scale) * 4)));
	--font-size-slider__desc-numb: max(26px, min(60px, calc(var(--base-scale) * 4)));
	--font-size-slider__desc: max(16px, min(20px, calc(var(--base-scale) * 4)));
	--font-size-education__title: max(20px, min(32px, calc(var(--base-scale) * 4)));
	--font-size-education__title-open: max(26px, min(60px, calc(var(--base-scale) * 4)));
	--font-size-education__desc: max(16px, min(24px, calc(var(--base-scale) * 4)));
	--font-size-whoWork__title: max(16px, min(32px, calc(var(--base-scale) * 4)));
	--font-size-whoWork__salary-num: max(26px, min(60px, calc(var(--base-scale) * 4)));
	--fs-60-20: max(20px, min(60px, calc(var(--base-scale) * 4)));
	--fs-24-16: max(16px, min(24px, calc(var(--base-scale) * 4)));
	--fs-32-24: max(24px, min(32px, calc(var(--base-scale) * 4)));
	--fs-32-18: max(18px, min(32px, calc(var(--base-scale) * 4)));
	--fs-20-16: max(16px, min(20px, calc(var(--base-scale) * 4)));
	--fs-16-14: max(14px, min(16px, calc(var(--base-scale) * 4)));

	// size:
	--border-radius: max(1em, min(3em, calc(var(--base-scale) * 3)));
  --margin-size-form-content: max(40px, min(160px, calc(var(--base-scale) * 4)));
  --padding-size: max(1em, min(2em, calc(var(--base-scale) * 2)));
}
