$color-primary: #000000;
$color-grey: #7B7771;
$color-red: #E30713;

$bg-body: #F7F6F2;
$bg-body-dark: #F6EEE3;
$bg-modals-overlay: rgba(255, 255, 255, 0.3);

$inter: 'Inter', 'Montserrat', 'Times New Roman', sans-serif;
$raleway: 'Raleway', 'Montserrat', 'Times New Roman', sans-serif;

// modal
$color-gray: #a0a0a0;
$bg-dark: #050505;
$bg-gray: #1c1a1a;
